body {
	margin: 0px;
	padding: 0px;
	background-color: #eee;
	.marval{
		width: 200px;
		height: 200px;
		border: 1px solid #333;
		background: url('../images/antman.jpg') no-repeat;
		background-size: 100% 100%;
	}
}